@import "../variables/layout";
@import "../mixins/utils";

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  margin: 0;
  padding: calc(#{$navbar-height} + #{$grid-space}) 0 0;
  background-color: color(white_smoke);
  font-family: 'Quicksand', sans-serif;;
  font-weight: font-weight(regular);
}

.container-fluid{
  @media screen and (max-width: map_get($breakpoints, tiny)){
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
