@import "../../../../scss/mixins/utils";

#main-nav{
  background-color: color(medium_spring_green);
  height: $navbar-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar{
  &__title{
    font-weight: font-weight(regular);
    line-height: $navbar-height;
    margin: 0;
    text-align: center;
    margin: 0 auto;
  }
  &__wrapper{
    display: flex;
    height: 100%;
  }
}

.btn--navbar{
  min-width: 30px;
  font-weight: bold;
  & + .navbar__title{
    padding-right: 30px;
  }
}