<div>
  <a [routerLink]="['/profile', profileUser.id]">Visit profile</a>
  <div>
    <img src="{{profileUser.thumbnail}}" alt="Imagen de perfil">
  </div>
  <div>
    <dl>
      <dt>Nombre</dt>
      <dd>{{profileUser.name}}</dd>
      <dt>Edad</dt>
      <dd>{{profileUser.age}}</dd>
      <dt>Peso</dt>
      <dd>{{profileUser.weight}} KG.</dd>
      <dt>Altura</dt>
      <dd>{{profileUser.height}}</dd>
      <dt>Color de pelo</dt>
      <dd>{{profileUser.hair_color}}</dd>
    </dl>
  </div>
</div>
