<div>
  <a [routerLink]="['/profile', profileUser.id]">Visit profile</a>
  <div>
    <img src="{{profileUser.thumbnail}}" alt="{{profileUser.name}}'s profile image" appImageAdjust>
  </div>
  <div>
    <dl>
      <dt>Name</dt>
      <dd>{{profileUser.name}}</dd>
      <dt>Age</dt>
      <dd>{{profileUser.age}} years old</dd>
      <dt>Weight</dt>
      <dd>{{profileUser.weight | number : '1.2-2'}} kg</dd>
      <dt>Height</dt>
      <dd>{{profileUser.height | number : '1.2-2'}} cms</dd>
      <dt>Hair color</dt>
      <dd>{{profileUser.hair_color}}</dd>
    </dl>
  </div>
</div>
